# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Override files (used to locally override configuration)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan

# Provider plugin directories
.terraform/
.terraform.lock.hcl

# Secrets
secrets.auto.tfvars
